.Weather {
  border: 2px solid #d1f5ee;
  color: rgb(3, 115, 171);
  font-family: arial, sans-serif;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(5, 152, 115, 0.08);
}

.Weather :-ms-input-placeholder{
  color:aqua;
  opacity: 1;
}
.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .humidity-wind{
  margin-left: 50px;
}

.Weather .icon-temperature{
  display: flex;
  justify-content: left;
}
.Weather canvas {
  width: 52px;
  height: 52px;
  display: block;
  margin-right: 15px;
}

.Weather .temperature {
  font-weight: 400;
  color: rgb(6, 66, 81);
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  color: black;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  left: 5px;
}
